      <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Page for learning English irregular verbs">
    <meta name="author" content="Guru VII">
    <link rel="icon" href="images/eye.jpg">
    <title>Irregular verbs</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="MainController">
      <div class="row">
        <div class="col-xs-4">
      </div>
        <button type="button" class="btn btn-primary btn-lg top-margin-25px" id="start">Start</button>
      </div>
      <div id="input-area" class="hidden row">
        <div class="row">
          <div class="col-sm-4 col-xs-12 col-sm-offset-4" id="current-word"></div>
        </div>
        <div class="row">
          <form class="form-inline top-margin-25px ">
            <div class="form-group" ng-if="verb">
              <label>Glagol:</label>
              <span class="form-control" ng-bind="verb" ng-model="original"><span>
            </div>
            <div class="form-group">
              <label for="present-simple">Present simple:</label>
              <input type="text" class="form-control" ng-model="presentSimple">
            </div>
            <div class="form-group">
              <label for="past-simple">Past simple:</label>
              <input type="text" class="form-control" ng-model="pastSimple">
            </div>
            <div class="form-group">
              <label for="present-participle">Past participle:</label>
              <input type="text" class="form-control" ng-model="pastParticiple">
            </div>
            <button id="submit" type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
          </form>
        </div>
      </div>
      <div  class="top-margin-25px">
        <div class="row"  ng-if="verb" ng-repeat="verbs in writtenVerbs" ng-class-even="'greyBackground'">  
            <b>
              <div class="col-xs-1 text-right" ng-bind="verbs[0]+1 +'.'">.</div>
              <div class="col-xs-2 text-center" ng-bind="verbs[1]"></div>
              <div class="col-xs-2 text-center" ng-class="verbs[5]" ng-bind="verbs[2]"></div>
              <div class="col-xs-2 text-center" ng-class="verbs[6]" ng-bind="verbs[3]"></div>
              <div class="col-xs-2 text-center" ng-class="verbs[7]" ng-bind="verbs[4]"></div>
              <div class="col-xs-2 text-center green" ng-if="verbs[8]==1"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Correct</div>
              <div class="col-xs-2 text-center red" ng-if="verbs[8]==0"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Incorrect</div>
            </b>
        </div>
      </div>
        <div class="row" ng-if="result != null">
          <div class="col-xs-4 col-sm-offset-8">
            <h2 ng-bind="'result is ' + result + '%'"></h2>    
        </div>
    </div>
    <button ng-click="localStorageClear()">Clear local storage</button>
  </body>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js">)</script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="assets/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-ui-router.min.js"></script>
    <script src="assets/js/angular-resource.min.js"></script>
    <script src="assets/js/angular-animate.min.js"></script>
    <script src="assets/js/ui-bootstrap.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/app.js"></script>
	<script src="js/all.js"></script>
  </body>
</html>